@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 202, 81%, 85%, 0.4;
  --primery-text: 0%, 0%, 07;
}

body {
  color: var(--background);
  background: var(--background);
}
